<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/week4.css">
    <script src="/static/week4.js" defer></script>
    <title>{{ title }}</title>
</head>
<body>
    <nav></nav>
    <header></header>
    <div class="box">
        <div class="sub-title center">{{ info_title }}</div>
        <div class="info-box center">
            {{ message }}
        </div>
    </div>
    <footer></footer>
</body>
</html>