<form class="data-form" id="signin-form" action="/signin" method="POST">
    <h4>登入系統</h4>
    <div>
        <label for="username">帳號</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">密碼</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="terms">同意條款</label>
        <input type="checkbox" id="terms" name="terms">
    </div>
    <div>
        <button type="submit" value="signin">登入</button>
    </div>
</form>