<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/week7.css">
    <script src="/static/week7.js" defer></script>
    <title>{{ title }}</title>
</head>
<body>
    <nav></nav>
    <header></header>
    <div class="box">
        <div class="sub-title center">{{ info_title }}</div>
        <div class="info-box center">
            <div>{{ message }}</div>
            <div>
                <a href="{{ link }}">{{ link_message }}</a>
            </div>
        </div>
        <div class="info-box center">
            <h4>查詢會員名稱</h4>
            <div class="data-form">
                <div>
                    <input type="text" id="queryName" placeholder="輸入會員 User Name">
                    <button type="submit" id="queryNameBtn">查詢</button>
                </div>
                <div id="queryNameResult"></div>
            </div>
        </div>
        <div class="info-box center">
            <h4>更新我的名稱</h4>
            <div class="data-form">
                <div>
                    <input type="text" id="updateName" placeholder="輸入新的姓名">
                    <button type="submit" id="updateNameBtn">更新</button>
                </div>
                <div id="updateNameResult"></div>
            </div>
        </div>
        <div class="info-box center">
            <h4>快來留言吧</h4>
            <form class="data-form" action="/createMessage" method="POST">
                <div>
                    <label for="create-message">內容</label>
                    <input type="text" id="create-message" name="createMessage" required placeholder="輸入3~50個字">
                </div>
                <div>
                    <button type="submit">送出</button>
                </div>
            </form>
            <div>{{ hintInfo }}</div>
        </div>
        <div class="info-box center">
            <ul >
            {% for content in contents %}
                <li><b>{{ content[3] }}</b> : {{ content[2] }}
                    {% if content[3] == name %}
                    <form class="display-inline" action="/deleteMessage" method="post" onsubmit="return delConfirm()">
                        <input type="hidden" name="messageId" value="{{ content[0] }}">
                        <button type="submit">X</button>
                    </form>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <footer></footer>
</body>
</html>


