<form class="data-form" name="signupForm" action="/signup" method="POST" onsubmit="return validataForm()">
    <h4>註冊帳號</h4>
    <div>
        <label for="name">姓名</label>
        <input type="text" id="signup-name" name="name" required>
    </div>
    <div>
        <label for="username">帳號</label>
        <input type="text" id="signup-username" name="username" required>
    </div>
    <div>
        <label for="password">密碼</label>
        <input type="password" id="signup-password" name="password" required>
    </div>
    <div>
        <label for="terms">同意條款</label>
        <input type="checkbox" id="signup-terms" name="terms">
    </div>
    <div>
        <button type="submit">註冊</button>
    </div>
</form>