<form class="data-form" name="signinForm" action="/signin" method="POST">
    <h4>登入系統</h4>
    <div>
        <label for="signin-username">帳號</label>
        <input type="text" id="signin-username" name="username" required minlength="3" maxlength="15">
    </div>
    <div>
        <label for="signin-password">密碼</label>
        <input type="password" id="signin-password" name="password" required minlength="8" maxlength="50">
    </div>
    <div>
        <button type="submit">登入</button>
    </div>
</form>